<%- include('layouts/header') -%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%= message%></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <%- include('layouts/sidebar') -%>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <%- include('layouts/navbar') -%>
      <!-- End of Topbar -->

      <div class="row">
        <!-- Listing Code -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
              <!-- DataTales Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Blogs</h6>
                  <br />
                  <h6><a href="/blog-form">Add Content</a></h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-bordered"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th></th>
                          <th>Title</th>
                          <th>Publishing Date</th>
                          <th>Writer</th>
                          <th>Content Image</th>
                          <th>Content</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>Comments</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% Data.map((data,index)=> { %>
                        <tr>
                          <td><%= ++index %></td>
                          <td><%= data.title %></td>
                          <td><%= data.date %></td>
                          <td><%= data.writer %></td>
                          <td>
                            <img
                              src="/uploads/<%= data.image %>"
                              alt="no image"
                              width="250px"
                              height="200px"
                            />
                          </td>
                          <td><%= data.content %></td>
                          <td>
                            <a href="/blog-edit/<%= data._id %>">Edit</a>
                          </td>
                          <td>
                            <a href="/blog-delete/<%= data._id %>">Delete</a>
                          </td>
                          <td>
                            <% comment.map((data,index)=> { %>
                              <span><%= data.comment%></span>
                            <% }) %>
                          </td>
                        </tr>
                        <% }) %>
                       
                      </tbody>
                    </table>

                  

                    <form action="/comment" method="post">
                      <label for="">Comment</label>
                      <input type="text" name="comment" />
                      <input type="submit" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <%- include('layouts/footerText') -%>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<%- include('layouts/footer') -%>
